body {
    padding: 1em;
}

.container-form {
    background-color: rgb(192, 78, 230);
    border-radius: 5px;
    padding: 0.8em;
}

#p_erro {
    margin: 10px 0px 0px 0px;
    display: none;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(99, 16, 126) !important;
    border-color: rgb(192, 78, 230) !important;
}

.btn-primary:hover {
    background-color: rgb(67, 10, 85) !important;
    border-color: rgb(67, 10, 85) !important;
}

#container-info {
    margin-top: 20px;
    display: none;
}

.text {
    color: gray;
    font-weight: bold;
}

#anime_url {
    text-decoration: none;
    color: rgb(99, 16, 126);
}

img {
    box-shadow: 10px 10px 0px rgba(140, 57, 168, 0.832);
}

#container-chara {
    display: none;
}

h3 {
    color: rgb(67, 10, 85) !important;
}

.chara_pic {
    display: none;
}

a {
    text-decoration: none !important;
    color: black !important;
}

a:hover {
    color: rgb(67, 10, 85) !important;
}